
ul {
    list-style-type: none; /* Remove bullets */
}

li {
    margin: 5px;
    border-radius: 5px;
    border: 1px darkgrey solid;
    background-color: darkslategrey;
    text-align: center;
    color: aliceblue;
}

li:hover {
    background-color: rgb(21, 43, 43);
    cursor: pointer;
}

#history-list {
    border-top: 1px grey solid;
}